{{#if open}}
  <div class="info-icon icons-open_access_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository provides open access to its data{{/bs-tooltip}}</div>
{{/if}}
{{#if doi}}
  <div class="info-icon icons-doi_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if urn}}
  <div class="info-icon icons-urn_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if ark}}
  <div class="info-icon icons-ark_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if hdl}}
  <div class="info-icon icons-hdl_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if certified}}
  <div class="info-icon icons-certificate_active" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository has been certified{{/bs-tooltip}}</div>
{{/if}}