{{#if certified}}
  <div class="info-icon-32 icons-certificate_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository has been certified{{/bs-tooltip}}</div>
{{/if}}