{{#if open}}
  <div class="info-icon-32 icons-open_access_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository provides open access to its data{{/bs-tooltip}}</div>
{{/if}}
{{#if doi}}
  <div class="info-icon-32 icons-doi_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if urn}}
  <div class="info-icon-32 icons-urn_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if ark}}
  <div class="info-icon-32 icons-ark_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if hdl}}
  <div class="info-icon-32 icons-hdl_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository uses persistent identifiers {{/bs-tooltip}}</div>
{{/if}}
{{#if certified}}
  <div class="info-icon-32 icons-certificate_active_32" data-hint="The research data repository provides additional information on its service.">{{#bs-tooltip placement="top" viewportPadding=10}}The repository has been certified{{/bs-tooltip}}</div>
{{/if}}