{{application-header type='transparent'}}

<div class="wrapper">
  <div class="landing-header" style="background-image: url('https://assets.datacite.org/images/fastr/header.png');">
    <div class="container-fluid">
      <div class="motto">
        <h1>Repository Finder</h1>
        <p>Find a repository to upload your data.</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
          <p>Repository Finder, a pilot project of the <a href="http://www.copdess.org/enabling-fair-data-project/">Enabling FAIR Data Project</a> led by the American Geophysical Union (AGU) 
            in partnership with DataCite and the earth and space sciences community, can help you find an appropriate repository to deposit your research data.
            The tool is hosted by DataCite and queries the re3data registry of research data repositories.</p>

          {{model-search model=model splash=true}}
        </div>
      </div>
    </div>
  </div>
</div>
